$morado:#3B1C79;
$verde:#33C580;
$moradoC:#492396;
$blanco:#fff;
$gris:#7F7F83;
$helveticaBlack:'helvitaBlack';
$helveticaBold:'helvitaBold';
$helveticaBoldC:'helvitaBoldC';

@font-face {
    font-family: 'helvitaBlack';
    src: url('../font/helveticaBlack.otf');
}

@font-face {
    font-family: 'helvitaBold';
    src: url('../font/helveticaBold.eot');
    src: url('../font/helveticaBold.otf');
}
@font-face {
    font-family: 'helvitaBoldC';
    src: url('../font/helveticaBoldCond.otf');
}
body{
  counter-reset: my-sec-counter;
}

.scroll-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 1.2em;
  font-size: 22px;
  color: rgba(#fff, .5);
  border-radius: 2em;
  border: solid 2px;
  transition: .4s;
  &:hover{
    background-color: rgba(#fff, .05);
    color: #fff;
  }
}

.scroll-icon::after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  animation: scroll-icon 2.2s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes scroll-icon {
    0% { transform: translateY(-12px); opacity: 0; }
   30%, 70% { opacity: 1; }
  100% { transform: translateY(12px); opacity: 0; }
}



section{
  padding: 80px 0;
}

.titulo{
  font-family: $helveticaBold;
  &--grande{
    font-size: 1.748rem;
    line-height:2.2rem;
    text-transform: uppercase;
  }
  &--chico{
    font-size:1.1rem;
    line-height: 1.5rem;
    display: block;
  }
}
.parrafo{
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-family: $helveticaBold;
}

.cargar-mas{
  margin-bottom: 60px;
  display: none;
}
.buttom{
  padding: 24px 30px;
  min-width:  240.5px;
  transition: all 0.2s;
  text-transform: uppercase;
  font-family: $helveticaBold;
  display: inline-block;
  text-align: center;
  font-size: 0.875rem;
  line-height: 16px;
  text-decoration: none;
  &__border{
    border-radius: 60px;
    color: $moradoC;
    border: 2px solid $verde !important;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,$verde), color-stop(50%, transparent));
    background: linear-gradient(to right, $verde 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    &:hover{
      background-color: $verde;
      text-decoration: none;
      color: $moradoC;
      background-position: left bottom;
      text-decoration: none;
    }
  }
  &__rellenoV{
    border-radius: 60px;
    color: $moradoC;
    border: 2px solid $verde !important;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,transparent), color-stop(50%, $verde));
    background: linear-gradient(to right, transparent 50%,  $verde 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    svg{
      fill:$moradoC;
      margin-right: 8px;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    &:hover{
      background-color: transparent;
      text-decoration: none;
      color: $verde;
      background-position: left bottom;
      text-decoration: none;
      svg{
        fill:$verde;
        path{
          fill:$verde;
        }
      }
    }
  }
  &__rellenoM{
    border-radius: 60px;
    color: $blanco;
    border: 2px solid $moradoC !important;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,transparent), color-stop(50%, $moradoC));
    background: linear-gradient(to right, transparent 50%,  $moradoC 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    svg{
      margin-right: 8px;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      path{
        stroke:$blanco;
      }
    }
    &:hover{
      background-color: transparent;
      text-decoration: none;
      color: $moradoC;
      background-position: left bottom;
      text-decoration: none;
      svg{
        path{
          stroke:$moradoC;
        }
      }
    }
  }
}

.header{
  background: $moradoC;
  position: fixed;
  width: 100%;
  z-index: 123;
  height: 90px;
  display: none;
  top:0;
  &__logo{
    margin-left: 5px;
    img{
      width: 120px;
    }
  }
  &__links{
    display: flex;
    height: 90px;
    align-items: center;
    ul{
      padding: 0;
      margin: 0;
      padding-right: 20px;
      list-style: none;
      li{
        display: inline-block;
        a{
          font-size: 12px;
          line-height: 12px;
          font-family: $helveticaBold;
          color: $blanco;
          text-transform: uppercase;
          padding: 0px 5px;
          text-decoration: none;
          &:hover{
            color: $verde;
          }
          &.active{
            color: $verde;
          }
        }
      }
    }
  }
  &__asesorate{
    height: 100%;
    padding: 0px 16px;
    font-size: 0.875rem;
    line-height: 16px;
    font-family: $helveticaBold;
    text-decoration: none;
    color: $moradoC;
    border: 2px solid $verde;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%,$morado), color-stop(50%, $verde));
    background: linear-gradient(to right, $morado 50%,  $verde 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    svg{
      fill:$moradoC;
      margin-right: 8px;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    &:hover{
      background-color: transparent;
      text-decoration: none;
      color: $verde;
      border: 2px solid $morado;
      background-position: left bottom;
      text-decoration: none;
      svg{
        fill:$verde;
        transform: rotate(360deg);
        path{
          fill:$verde;
        }
      }
    }
    i,svg{
      width: 30px;
    }
    span{
      display: none;
      margin-left: 0.875rem;

    }
  }
  &__isotipo{
    padding: 0 0.5rem 0 1.5rem;
  }
}

$timing        : 265ms;
$iconColor     : #00B5F5;
$accent        : #002A8F;
$bluefade      : #0043E0;
$gradient      : #00B5F5;

@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}



.iconAsesorate{
  display: none;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 44px;
  z-index: 123;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
  &:hover &__interno{
    transform: rotate(360deg);
    background: $moradoC;
    box-shadow: 4px 4px 0px $verde;
    span{
        color: $verde;
    }
    &__verde{
      background: $moradoC;
      box-shadow: inset 0px 0px 16px $morado;
      svg{
        path{
          fill:$verde;
        }
      }
    }
  }
  &__interno{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    // transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition:all 0.5s ease-out;
    background: $verde;
    box-shadow: 4px 4px 0px $moradoC;
    display: flex;
    justify-content: center;
    mix-blend-mode: multiply;
    text-align: center;
    span{
      font-size: 14px;
      line-height: 16px;
      font-family: $helveticaBold;
      text-transform: uppercase;
      color: $moradoC;
      display: none;
    }
    &__verde{
      width: 70px;
      height: 70px;
      transition: all 2s;
      border-radius: 50%;
      margin-top: 5px;
      text-align: center;
      padding: 21px 10px;
      box-shadow: inset 0px 0px 16px #128A48;
      background-image: url('../img/iconos/fondo-gradiente.png');
      background: $verde;
      svg{
          transition: all 0.2s;
      }
    }
  }
}

.descripcion{
  background-image: url('../img/bg/bg-desarrollo.jpg');
  height: auto;
  width: 100%;
  background-attachment: fixed;
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 1;
  &:before{
      content: "";
      width: 2px;
      position: absolute;
      background: $verde;
      height: 130px;
      top: 0;
      left: 12.9%;
  }
  span{
    color: $verde;
    width: 74%;
    padding-left: 62px;
    position: relative;
    display: block;
  }
  h2{
    color: $blanco;
    margin: 20px 0px;
    width: 100%;
  }
  p{
    color: $blanco;
    width: 74%;
    margin-top: 31px;
    margin-bottom: 31px;
  }
  .botones{
    a{
      padding: 18px 20px;
    }
  }
}
.caracteristicas{
  height: auto;
  background-image: url('../img/bg/bg-caracterisitcas.jpg');
  width: 100%;
  h2{
    color: $moradoC;
  }
  .texto{
    padding-left: 40px;
    margin-top: 40px;
    border-left: 2px solid $verde;
    p{
      color: $gris;
    }
  }
  .boton__pdf{
    margin-bottom: 50px;
    a{
      padding: 18px 20px;
      margin-bottom: 20px;
    }
  }
  &__tabs{
    margin-left:0;
    ul{
      border-bottom: 1px solid $blanco;
      justify-content: center;
      li{
        background: transparent;
        text-align: center;
        position: relative;
        &:before{
          content: "";
          position: absolute;
          width: 2px;
          background: transparent;
          height: 40%;
          margin: auto;
          top:0;
          bottom: 0;
          right: 0;
        }
        &:first-child{
          border-top-left-radius:0px;
          a{
            border-top-left-radius:50px;
          }
        }
        &:last-child{
          border-top-right-radius:0px;
          &:before{
            background: transparent;
          }
          a{
            border-top-right-radius:50px;
          }
        }
        a{
          font-family: $helveticaBold;
          color: $blanco;
          background: $moradoC;
          padding: 20px;
          text-transform: uppercase;
          font-size: 13px;
          line-height: 16px;
          border-radius: 50px;
          margin-bottom: 10px;
          margin-left: 6px;
          min-width: 162px;
          display: block;
          position: relative;
          text-decoration: none;
          &.primero{
            &.active{
              &:before{
                background: transparent !important;
              }
            }
          }
          &:before{
            content: "";
            width: 3px;
            background: transparent;
            height: 100%;
            left: -3px;
            top: 0;
            position: absolute;
          }
          &.active{
            color: $verde;
            background: $blanco;
            &:before{
              background: transparent;
            }
          }
        }

      }
    }
    &__content{
      background: $blanco;
      padding:0px 20px 60px;
      min-height: 422px;
      .iconos{
        width: 146.68px;
        height: 146.68px;
        border-radius: 50%;
        position: relative;
        margin: auto;
        text-align: center;
        margin-top: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          &:nth-of-type(2){
            width: 30px;
          }
        }
        &--morado{
          background: $moradoC;
        }
        &--verde{
          background: $verde;
        }
        h5{
          color: $blanco;
          font-size: 0.8rem;
          line-height: 14px;
          font-family: $helveticaBold;
          margin-top: 15px;
        }
        .borde{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          bottom: 0;
          width: 128px;
        }
      }
    }
  }
}
.contruyendo{
  padding-top:60px;
  padding-bottom: 30px;
  .owl-grid{
    margin-top: 100px;
  }
  h2{
    color: $moradoC;
    width: 53%;
    margin-bottom: 35px;
  }
  .seleccionado{
    position: relative;
    span{
      color: $moradoC;
      font-size: 15px;
      line-height: 28px;
      display: block;
      font-family: $helveticaBold;
    }
    .dropdown{
      &-menu{
        width: 100%;
        z-index: 123 !important;
        border-radius: 0;
        padding: 0;
      }
      &-toggle{
        background:transparent;
        width: 100%;
        border-radius: 10px;
        border: 1px solid $verde;
        padding: 20px;
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        color: $moradoC;
        font-family: $helveticaBold;
        text-transform: uppercase;
        position: relative;
        &:focus{
          background: $verde;
          color: $moradoC;
          outline: none;
        }
        &:before {
            content:"";
            width: 54px;
            height: 57px;
            background:$verde;
            position: absolute;
            right: 0;
            top: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        &:after{
            position: absolute;
            top: 0;
            margin: auto;
            width: 16px;
            height: 12px;
            bottom: 0;
            right: 16px;
            background-image: url('../img/iconos/flecha.png');
            color: transparent;
            background-size:cover;
            background-position:center;
            background-repeat: no-repeat;
        }
      }
      &-item{
        padding: 11px 1.5rem;
        font-size: 14px;
        font-family: $helveticaBold;
        text-transform: uppercase;
        &:hover{
          background: $verde;
          color: $blanco;
        }
      }
    }
    img{
      position: absolute;
      right: 0;
      z-index: 1;
    }
    .circulo{
      background: $moradoC;
      border-radius: 50%;
      width: 181px;
      height: 181px;
      &__progresivo{
        width: 100px;
        border-radius: 50%;
        height: 4px;
        background: $verde;

      }
    }
  }
}

.owl-grid{
  .owl-nav{
    width: 100%;
    text-align: center;
    margin-top:20px;
    display: block !important;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 50px;
    margin: auto;
    button{
      border-radius: 50%;
      background: $verde !important;
      color: $morado !important;
      width: 50px;
      margin: 0px 12px;
      height: 50px;
      position: absolute;
      &:before{
        content: "";
        position: absolute;
        width: 14px;
        height: 10px;
        background-image: url("../img/iconos/flecha.png");
        background-position: center;
        background-size: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
      span{
        opacity: 0;
      }
    }
    .owl-prev{
      transform: rotate(90deg);
      left: 0;
    }
    .owl-next{
      transform: rotate(270deg);
      right: 0;
    }
  }
  .owl-dots{
    display: none;
  }
}

.galeria{
  padding: 50px 0px 0px;
  h2{
    color: $moradoC;
    margin-bottom: 20px;
  }
  .filter a.current {
    background: $verde;
    color: $moradoC;
    &:before{
      content: "";
      position: absolute;
      width: 7px;
      background: transparent;
      height: 100%;
      margin: auto;
      left: -7px;
      top: 0;
      bottom: 0;
    }
    &:first-child{
      &:before{
        background: transparent;
      }
    }
  }
  .listado{
    background: transparent;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px;
    text-align: center;
    display: none;
    a{
      font-family: $helveticaBold;
      color: $blanco;
      padding: 20px;
      display:inline-block;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 16px;
      border-radius: 50px;
      min-width: 162px;
      text-align: center;
      position: relative;
      background: $moradoC;
      text-decoration: none;
      margin-bottom: 10px;
      &:after{
        content: "";
        position: absolute;
        width: 2px;
        background: transparent;
        height: 30%;
        margin: auto;
        right: 0;
        top: 0;
        bottom: 0;
      }
      &:first-child{
        border-top-left-radius:50px;
        border-bottom-left-radius:50px;
      }
      &:last-child{
        border-top-right-radius:50px;
        border-bottom-right-radius:50px;
        &:after{
          background: transparent;
        }
      }
    }
  }

}
.modelo{
  padding: 40px 0px 70px;
  .owl-modelo{
    .owl-nav{
      width: 100%;
      text-align: center;
      margin-top:20px;
      button{
        border-radius: 50%;
        background: $verde !important;
        color: $morado !important;
        width: 50px;
        margin: 0px 12px;
        height: 50px;
        position: relative;
        &:before{
          content: "";
          position: absolute;
          width: 14px;
          height: 10px;
          background-image: url("../img/iconos/flecha.png");
          background-position: center;
          background-size: cover;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
        span{
          opacity: 0;
        }
      }
      .owl-prev{
        transform: rotate(90deg);
      }
      .owl-next{
        transform: rotate(270deg);
      }
    }
    .owl-dots{
      display: none;
    }
  }
  h2{
    color: $moradoC;
    margin-bottom: 30px;
  }
  &__item{
    background: #360F82;
    padding: 50px 0px;
    transition: all 0.5s;
    &--raya{
      border-right:1px solid rgba(255, 255, 255, 0.09);
    }
    &:hover{
      background: $verde;
      p{
        color: $blanco;
      }
      .buttom{
        background: -webkit-gradient(linear, left top, right top, color-stop(50%,transparent), color-stop(50%, $moradoC));
        background: linear-gradient(to right, transparent 50%,  $moradoC 50%);
        background-size: 200% 100%;
        background-position: right bottom;
      }
    }
    &:hover &__content{
      box-shadow: 0px 0px 0px 8px #48D795;
    }
    &__content{
      height: 290px;
      width: 290px;
      border-radius: 50%;
      margin: auto;
      overflow: hidden;
      display: flex;
      box-shadow: 0px 0px 0px 8px $moradoC;
      justify-content: center;
      background: $blanco;
      transition: all 0.4s;
      padding:42px 24px;
    }
    &__texto{
      text-align: center;
      margin-top: 50px;
      .buttom{
        padding: 16.18px;
        color: $blanco;
        min-width: 196.66px;
      }
      span{
        color:$blanco;
        font-size: 15px;
        line-height: 28px;
        font-family: $helveticaBold;
      }
      p{
        font-size: 20px;
        line-height: 28px;
        font-family: $helveticaBold;
        color: $verde;
      }
    }
    h3{
      font-size:1.875rem;
      line-height: 41px;
      font-family: $helveticaBold;
      color: $blanco;
      margin-bottom: 33px;
    }
  }
}
.mapa{
  background-image: url('../img/bg/mapa.jpg');
  height: auto;
  background-size: cover;
  position: relative;
  background-position: center;
  padding: 60px 0px;
  background-attachment: fixed;
  .imagen{
    display: none;
  }
  &__content{
    .icono{
      position: relative;
      margin-top: 10px;
      img{
        position: absolute;
        width: 18px;
      }
      p{
        margin-left: 42px;
        font-size: 1rem;
        line-height: 1.75rem;
        color: $blanco;
        font-family: $helveticaBold;
      }
    }
    h2{
      color: $verde;
    }
    .texto{
      padding-left: 40px;
      margin-top: 40px;
      border-left: 2px solid $verde;
      p{
        color:$blanco;
      }
    }
  }

}
.video{
  background-image: url('../img/bg/bg-video.jpg');
  height: 56vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  .play{
    position: absolute;
    width: 100%;
    height: 100%;
    .icono{
      position: absolute;
      // width: 250px;
      // height: 250px;
      width: 110px;
      height: 110px;
      background: rgba(51, 197, 128, 0.54);
      margin: auto;
      border-radius: 50%;
      animation: shadow-pulse 1s infinite;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 2s;
      img{
        transition: all .3s;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        &:hover{
          transform:rotate(360deg);
        }
      }
    }
  }
}
@keyframes shadow-pulse{
  0%{
    width: 110px;
    height: 110px;
  }
  50%{
    width: 150px;
    height: 150px;
  }
  100%{
    width: 110px;
    height: 110px;
    background: transparent;
  }
}

.footer{
  &__top{
    background: $moradoC;
    &__uno{
      padding: 30px 0px;
      height: auto;
    }
    &__dos{
      &__card{
        position: relative;
        height: 180px;
        padding: 30px 40px;
        border-right:1px solid rgba(255, 255, 255, 0.11);
        span{
          line-height: 1.75rem;
          font-size: 0.938rem;
          color: $verde;
          font-family: $helveticaBold;
          display: block;
          margin-top: 12px;
        }
        h3{
          font-size: 1.25rem;
          line-height: 1.75rem;
          color: $blanco;
          font-family: $helveticaBold;
        }
        a{
          position: absolute;
          background: $verde;
          width: 45px;
          right: 50px;
          bottom: 33%;
          height: 45px;
          border-radius: 50%;
          padding: 10px 10px 11px 13px;
          transition: all .3s;
          &:hover{
            transform: rotate(360deg) scale(1.1);
            background: $morado;
            i,svg{
              color: $verde;
            }
          }
          i,svg{
            color: $moradoC;
            font-size: 23px;
            text-align: center;
            margin: auto;
          }
        }
      }
      &__img{
        padding: 20px 0px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 140px;
          &.senda{
            width: auto;
          }
        }
        span{
          color: $verde;
          font-size: 0.75rem;
          line-height: 0.875rem;
          display: block;
          margin-bottom: 12px;
          font-family: $helveticaBold;
        }
      }
    }
    hr{
      background: rgba(255, 255, 255, 0.11);
      margin: 0;
    }
    &__redes{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 30px 0px;
    }
    &__links{
      text-align: center;
      a{
        font-size: 14px;
        line-height: 16px;
        color: $blanco;
        display: block;
        text-transform: uppercase;
        font-family: $helveticaBold;
        padding:16px 25px;
        text-decoration: none;
        &:hover{
          color: $verde;

        }
      }
    }
    &__botom{
      text-align: center;
      margin-bottom: 24px;
      width: 100%;
      a{
        padding: 20px;
      }
    }
  }
  &__bottom{
    height: auto;
    padding: 30px 0px;
    background: $morado;
    color: $blanco;
    text-align: center;
    h6{
      font-size: 0.75rem;
      line-height: 0.875rem;
      font-family: $helveticaBold;
      margin-bottom: 20px;
    }
    .agencia{
      display: flex;
      justify-content: flex-end;
      p{
        font-size: 12px;
        line-height: 17px;
        font-family: $helveticaBold;
        color: $blanco;
        margin: auto;
        width: 67%;
        a{
          color: $blanco;
        }
      }
    }
  }
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    margin:0px 0.43rem;
    position: relative;
    font-size: 1.1em;
    i ,svg{
      color: $moradoC;
      position: relative;
      // margin: auto;
      // bottom: 6px;
      // left: 0;
      // top:0;
      // right: 0;
      transition: all $timing ease-out;
    }
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      padding: 7px;
      &:before {
        @include transformScale();
        content: " ";
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background:$verde;
        transition: all $timing ease-out;
      }
      &:hover:before {
        transform: scale(0);
        transition: all $timing ease-in;
      }

      &:hover i,
      &:hover svg {
        @include transformScale(1.5);
        color:$verde;
        background:$verde;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all $timing ease-in;
      }
    }
  }
}
.p-right{
  padding-right:15px;
}
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .galeria{
    .filter a.current{
      &:before{
        background: $verde;
      }
    }
    .listado{
      background: $moradoC;
      border-radius: 50px;
      width: 714px;
      text-align: center;
      a{
        min-width: 175px;
        border-radius: 0px;
        font-size: 14px;
        margin-bottom: 0;
        &:after{
          background: $verde;
        }
      }
    }
  }
  .descripcion{
    &:before{
      left: 12.9%;
    }
    p{
      width: 56%;
    }
    h2{
      width: 68%;
    }
    span{
      width: 53%;
      padding-left: 96px;
    }
  }
  .caracteristicas{
    &__tabs{
      ul{
        justify-content: start;
        li{
          background: $moradoC;
          &:before{
            background: $verde;
          }
          &:first-child{
            border-top-left-radius:15px;
            a{
              border-top-left-radius:14px;
              &.active{
                &:before{
                  background: $blanco ;
                }
              }
            }
          }
          &:last-child{
            border-top-right-radius:15px;
            a{
              border-top-right-radius:14px;
            }
          }
          a{
            background: transparent;
            border-radius: 0px;
            font-size: 14px;
            margin-left: 0px;
            margin-bottom: 0px;
            min-width: 172px;
            &.active{
              &:before{
                background: $blanco;
              }
            }
          }
        }
      }
    }
  }
  .parrafo{
        font-size: 0.9rem;
  }
  .titulo{
    &--grande{
      font-size: 1.788rem;
      line-height: 2.513rem;
    }
  }
  .footer{
    &__top{
      &__dos{
        &__img{
          height: 180px;
        }
      }
    }
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .cargar-mas{
    display: block;
  }
  .social-icons{
    li{
      a{
        margin-bottom: 7px;
      }
    }
  }
  .mapa{
    .imagen{
      display: block;
    }
  }
  .iconAsesorate{
    display: flex;
    &__interno{
      height: 134px;
      width: 134px;
      span{
        display: block;
      }
      &__verde{
        width: 124px;
        height: 124px;
        padding: 35px 10px;
      }
    }
  }
  .video{
    height: 90vh;
  }
  .modelo{
    &__item{
      &__content{
        height: 224px;
        width: 224px;
      }

    }
  }
  .parrafo{
    font-size: 0.938rem;
    line-height: 1.75rem;
  }
  .descripcion{
    h2{
      width: 100%;
    }
    span{
      padding-left: 58px;
    }
  }
  .caracteristicas{
    .boton__pdf{
      margin-bottom: 0px;
    }
    &__tabs{
      ul{
        li{
          a{
            font-size: 11px;
            min-width: 150px;
          }
        }
      }
    }
  }
  .header{
    display: block;
  }
  .galeria{
    .listado{
        display: block;
    }
    .owl-grid{
      display: none;
    }
    .grid{
      display: block;
    }
  }
  .contruyendo{
    .owl-grid{
      display: none;
    }
    .grid{
      display: block;
    }
  }
  .footer{
    &__bottom{
      text-align: inherit;
      padding: 22px 0px;
      h6{
        margin-bottom: 0;
      }
      .agencia{
        p{
          margin-bottom: 0;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .social-icons{
    li{
      a{
        margin-bottom: 0px;
      }
    }
  }
  .modelo{
    &__item{
      &__content{
        height: 305px;
        width: 305px;
      }
      h3{
        font-size: 2.188rem;
      }
    }
  }
  section{
    padding: 70px 0;
  }
  .p-right{
    padding-right: 60px;
  }
  .container {
    max-width: 1270px;
  }
  .caracteristicas{
    padding: 100px 0px;
    &__tabs{
      margin-left: 73px;
      ul{
        li{
          a{
            font-size: 14px;
            min-width: 170px;
          }
        }
      }
      &__content{
        min-height: 490px;
        padding:0px 40px 60px;
        .iconos{
          margin-top: 56px;
          width: 161.68px;
          height: 161.68px;
          h5{
            font-size: 1rem;
            line-height: 19px;
          }
          .borde{
            width: 143px;
          }
        }
      }
    }
  }
  .descripcion{
    &:before{
      height: 112px;
    }
    span{
      width: 64%;
      padding-left: 38px;
    }
  }
  .mapa{
    // height: 90vh;
    padding: 0;
  }
  .footer{
    &__top{
      &__uno{
        height: 120px;
      }
      &__dos{
        &__card{
          height: 262px;
          a{
            right: 16px;
          }
        }
        &__img{
          height: 262px;
        }
      }
      &__links{
        a{
          display: inline-block;
          font-size: 12px;
          padding: 15px 5px;
        }
      }
      &__redes{
        justify-content: flex-end;
        padding: 0;
      }
      &__botom{
        text-align: left;
        margin-bottom:0;
      }
    }
    &__botom{
      height: 60px;
      text-align: inherit;
      padding: 0;
    }
  }
  .header{
    &__isotipo{
      padding: 0 1.375rem 0 2.25rem;
    }
    &__asesorate{
      padding: 0px 30px;
      span{
        display: inline-block;
      }
    }
  }
}
@media(min-width:1350px){
  .header{
    &__logo{
      margin-left: 34px;
      img{
        width: 120px;
      }
    }
    &__links{
      ul{
        li{
          a{
            font-size: 13px;
            line-height: 16px;
            padding:0px 12px;
          }
        }
      }
    }
  }
}
@media(min-width:1600px){
  .titulo{
    &--grande{
      font-size: 2.188rem;
      line-height: 2.813rem;
    }
    &--chico{
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  .descripcion{
    height: 91vh;
    &:before{
      height: 198px;
    }
    span{
        width: 64%;
        padding-left: 81px;
    }
  }
  .caracteristicas{
    // height: 92vh;
    &__tabs{
      ul{
        li{
          a{
            min-width: 217px;
          }
        }
      }
      &__content{
        min-height: 580px;
        .iconos{
          width:  201.68px;
          height:  201.68px;
          img{
            &:nth-of-type(2){
              width: auto;
            }
          }
          .borde{
            width: auto;
          }
        }
      }
    }
  }
  section{
    padding: 148px 0;
  }
  .modelo{
    &__item{
      &__content{
        height: 380px;
        width: 380px;
      }
    }
  }
  .header{
    &__logo{
      margin-left: 55px;
      img{
        width: auto;
      }
    }
    &__links{
      ul{
        li{
          a{
            font-size: 14px;
            padding: 0px 15px;
          }
        }
      }
    }
    &__asesorate{

    }
  }
  .container{
      // max-width: 1760px;
      max-width: 1785px;
  }
  .footer{
    &__top{
      &__dos{
        &__card{
          a{
            right: 16px;
          }
        }
      }
      &__links{
        a{
          padding: 16px 25px;
          font-size: 14px;
        }
      }
    }
  }
}
@media(min-width:1700px){
  .descripcion{
    span{
      width: 53%;
      padding-left: 58px;
    }
  }
}
