/* clear fix */

.grid:after {

    content: '';

    display: block;

    clear: both;

  }



  /* ---- .grid-item ---- */

  .grid{

    width: 100%;

    display: none;

    // width: calc(100% / 2);

    // max-width: 1400px;

  }





  .grid-sizer,

  .grid-item {

    width: 100%;

    // width: 20%;

  }



  .grid-item{

    float: left;

    position: relative;

    height: auto;

  }



  .grid-item img {

    display: block;

    width: 100%;

    padding: 3px;

  }



  .grid-item:hover .grid__magnifier {

      opacity: 1;

      top: 0px;

      left: 0px;

      bottom: 0px;

      right: 0px;

      border: 3px solid white;

  }



  .grid__magnifier {

      display: block;

      width: 100%;

      height: 100%;

      opacity: 0;

      top: 0px;

      left: 0px;

      bottom: 0px;

      right: 0px;

      position: absolute;

      border: 3px solid white;

      background:rgba(73, 35, 150, 0.82);

      -webkit-transition-duration: 0.3s;

      transition-duration: 0.3s;

      -webkit-transition-property: opacity;

      transition-property: opacity;

  }



  .grid__tp-info {

    position: absolute;

    top: 50%;

    left: 50%;

    width: auto !important;

    transform: translate(-50%, -50%);

  }

  @media (min-width: 576px){

   //  .grid-sizer,

   //  .grid-item {

   //    width: 50%;

   // }

  }



    @media (min-width: 992px){

      .galeria{

        .grid-sizer,

        .grid-item {

          width: 25%;

          // &--width1{

          //   width: 20%;

          // }

          // &--width2{

          //   width: 23%;

          // }

          // &--width3{

          //   width: 35%;

          // }

          // &--width4{

          //   width: 18%;

          // }

        }

      }

      .contruyendo{

        .grid-sizer,

        .grid-item {

            width: 33.333%;

            // width:25%;

        }

      }

      // .grid-sizer2,

      // .grid-galeria {

      //     width:25%;

          // &--grande{

          //   width: 30%;

          // }

          // &--mediano{

          //   width: 23%;

          // }

          // &--chico{

          //   width: 20%;

          // }

      // }

    }





  // @media (min-width: 1100px){

  //   .grid-sizer,

  //   .grid-item {

  //       width:35%;

  //       &--grande{

  //         width:50%;

  //       }

  //       &--medianoGran{

  //         width:40%;

  //       }

  //       &--medianoChico{

  //         width:35%;

  //       }

  //       &--chico{

  //

  //       }

  //   }

  // }



  @media (min-width: 1700px) {

    .grid__sizer,

    .grid__item {

      width: 25%;

    }

  }

