::selection {
  background: $moradoC;
  color: $verde;
}

::-webkit-scrollbar {
    width: 9px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
::-webkit-scrollbar-thumb {
    background: $moradoC;
    border-radius: 6px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: $verde;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: $moradoC;
}
.fixed{
  position: fixed;
}

.barra-hamburger{
  position: fixed;
  background: $moradoC;
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
  z-index: 123;
  img{
    width: 130px;
  }
  .iconA{
    height: 100%;
    background: $verde;
    position: absolute;
    right: 90px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}



.home__slider{
  .carousel-indicators{
    right: auto;
    // bottom: 10%;
    top: 20%;
    display: none;
    margin-left:3%;
    li{
      text-indent: inherit;
      position: relative;
      width: 35px !important;
      height: 35px !important;
      border-radius: 50%;
      opacity:1 !important;
      background-color: transparent;
      border:2px solid transparent;
      margin-left: 11px !important;
      margin-right: 11px !important;
      margin-top: 20px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active{
        border:2px solid $verde !important;
        span{
          color: $verde;
        }
      }
      span{
        color:#6F43C8;
        font-family: $helveticaBold;
        display: block;
      }
    }
  }
  .carousel-control-prev{
    right: 0 !important;
    left: auto;
    top: -129px;
    transform: rotate(-180deg);
  }
  .carousel-control-prev, .carousel-control-next{
    height: 50px;
    bottom: 0;
    margin: auto;
    display: none;
  }

  .carousel-caption{
    position: absolute;
    bottom: 0;
    top: 0;
    height: 50%;
    right: auto;
    width: 74%;
    margin: auto;
    left: 20%;
    text-align: left;
  }
}
.carousel{
  margin-top: 89px;
    &-texto{
      padding: 20px 28px;
      height: 50%;
      width: 100%;
      top: auto;
      position: absolute;
      left: 0;
      bottom: 11%;
      .logo{
        width: 125px;
      }
      h2{
        font-size: 2rem;
        line-height: 2.563rem;
        text-transform: uppercase;
        font-family: $helveticaBold;
        color: $blanco;
        margin-top: 16px;
        margin-bottom: 16px;
        span{
          color: $verde;
        }
      }
      p{
        font-size: 0.9rem;
        line-height: 1.3rem;
        color: $blanco;
        font-family: $helveticaBold;
      }
      .p-2{
        width: 302px;
      }
      .direccion{
        position: relative;
        width: 281px;
        img{
          position: absolute;
          top: 4px;
          width: 23px;
        }
        p{
          margin-left: 45px;
        }
      }
    }
    &-img{
      height: 50%;
      width: 82%;
      top: 0;
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      &--centrado{
        img{
          margin-top: 18px;
          width: 234px !important;
        }
      }
      img{
        width: 257px;
      }
    }
    &-item{
      .img{
        height: 86vh;
        background-size: cover;
        background-position: center;
      }
      .fondoTexto{
        position: absolute;
        left: 0;
        top:0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
          font-size:8.625rem;
          font-family: $helveticaBlack;
          color: $verde;
          opacity: 0.1;
          line-height: 7.188rem;
        }
      }
    }
}
.asesorateM{
  position: fixed;
  background:$blanco;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  // opacity: 0;
  visibility: hidden;
  transition: visibility .85s, height .65s;
  overflow: hidden;
  z-index: 1234;
  &.openA {
    // opacity: 1;
    visibility: visible;
    height: 100%;
  }
  &__content{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    width: 100%;
    background:rgba(0, 0, 0, 0.95);
    height: 100vh;
    text-align: center;
    &__logo{
      background: $verde;
      padding: 20px;
      width: 116px;
      height: 170px;
      margin: auto;
      margin-bottom: 50px;
    }
    ul{
      list-style: none;
      padding: 0;

      li{
        display: inline-block;
        color: #9a9a9a;
        font-size: 20px;
        text-transform: uppercase;
        padding: 0px 20px;
        position: relative;
        &:before{
          content: "";
          position: absolute;
          width: 3px;
          height: 43%;
          right: 0;
          background-color: #9a9a9a;
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &:last-child:before{
          background: transparent;
        }
        a{
          color: #9a9a9a;
        }
      }
    }
    &__formulario{
      position: absolute;
      bottom: 35%;
      width: 54%;
      height: 90px;
      left: 0;
      right: 0;
      margin: auto;

      &__content{
        position: relative;
        input{
          width: 100%;
          height: 90px;
          color: #9a9a9a;
          font-size: 40px;
          // font-family: $coreML;
          text-transform: uppercase;
          background: transparent;
          border:1px solid transparent;
          border-bottom: 2px solid #656262;
          padding: 26px 9px;
          &::placeholder{
            color: #9a9a9a;
            font-size: 40px;
            // font-family: $coreML;
            text-transform: uppercase;
          }
        }
        a{
          position: absolute;
          right: 0;
          top: 17px;
          margin: 0;
        }
      }
    }
    .cerrar{
      position: absolute;
      bottom: 10%;
      font-size: 17px;
      // font-family: $coreMM;
      text-transform: uppercase;
      color: $blanco;
      display:inline-block;
      padding:10px 36px;
      border:1px solid $blanco;
      border-radius: 28px;
      left: 0;
      width: 149px;
      right: 0;
      margin: auto;
    }
  }
  &__bg{
    background-image: url('../img/bg/asesorate.jpg');
    height: 32vh;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    img{
      width: 95px;
    }
    h1{
      font-size: 32px;
      line-height: 34px;
      font-family: $helveticaBold;
      color: $blanco;
      text-transform: uppercase;
      margin-top: 21px;
      margin-bottom: 16px;
    }
    p{
      font-size: 12px;
      line-height: 20px;
      width: 80%;
      margin: auto;
      font-family: $helveticaBold;
      color: $blanco;
    }
  }
  &__formulario{
    position: relative;
    padding: 30px 0px;
    max-height: 100vh;
    overflow: auto;
    .titulo{
        color: $moradoC;
        margin-left: 46px;
      }
    .cerrar{
        position: absolute;
        right: 10%;
        top: 26px;
        img{
            width: 40px;
        }
    }
    form{
      width: 78%;
      margin: auto;
      .dropdown{
        &-menu{
          width: 100%;
          z-index: 1 !important;
          border-radius: 0;
          padding: 0;
          border:1px solid $verde;
        }
        &-toggle{
          background:transparent;
          width: 100%;
          border-radius: 7px;
          border: 1px solid $verde;
          padding: 20px;
          font-size: 14px;
          line-height: 16px;
          text-align: left;
          color: $moradoC;
          font-family: $helveticaBold;
          text-transform: uppercase;
          position: relative;
          &:before {
            content:"";
            width: 54px;
            height: 57px;
            background:$verde;
            position: absolute;
            right: 0;
            top: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
          &:focus{
            background: $verde;
            color: $moradoC;
            outline: none;
          }
          &:after{
            position: absolute;
            top: 0;
            margin: auto;
            width: 16px;
            height: 12px;
            bottom: 0;
            right: 16px;
            background-image: url('../img/iconos/flecha.png');
            color: transparent;
            background-size:cover;
            background-position:center;
            background-repeat: no-repeat;
          }
        }
        &-item{
          padding: 11px 1.5rem;
          font-size: 15px;
          font-family: $helveticaBold;
          text-transform: uppercase;
          color:$moradoC;
          &:hover{
            background: $verde;
            color: $moradoC;
          }
        }
      }
      .seleccionar{
        position: relative;
        &:before{
          content: "";
          background: $verde;
          width: 55px;
          height: 55px;
          position: absolute;
          right: 0;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
        }
        &:after{
          content: "";
          position: absolute;
          width: 12px;
          height: 8px;
          background-image: url('../img/iconos/flecha.png');
          top: 0;
          margin: auto;
          right: 20px;
          bottom: 0;
        }
        &__top{
          width: 100%;
          cursor: pointer;
          border:1px solid $verde;
          border-radius: 6px;
          height: 55px;
          position: relative;
          padding: 10px 10px;
          .icono{
            position: absolute;
            width: 43px;
            height: 43px;
            overflow: hidden;
            border-radius: 50%;
            top: 0;
            bottom: 0;
            margin: auto;;
          }
          span{
            display: block;
            color: $moradoC;
            font-family: $helveticaBold;
            margin-left: 57px;
            font-size: 0.875rem;
            line-height: 1rem;
            text-transform: uppercase;
          }
        }
        &__bottom{
          height: 0;
          visibility: hidden;
          overflow: auto;
          max-height: 206px;
          position: absolute;
          background: $blanco;
          width: 100%;
          border:1px solid $verde;
          border-top: 1px solid transparent;
          z-index: 12;
          &.open {
            // opacity: .9;
            visibility: visible;
            height: 206px;

          }
          &::-webkit-scrollbar {
              width: 2px;     /* Tamaño del scroll en vertical */
              height: 8px;    /* Tamaño del scroll en horizontal */
          }
          &::-webkit-scrollbar-thumb {
              background: $moradoC;
              border-radius: 6px;
          }
          /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
          &::-webkit-scrollbar-thumb:hover {
              background: $verde;
              box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          }

          /* Cambiamos el fondo cuando esté en active */
          &::-webkit-scrollbar-thumb:active {
              background-color: $moradoC;
          }
          &__card{
            width: 50%;
            float: left;
            border:1px solid #F2F2F3;
            text-align: center;
            padding: 20px;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            text-decoration: none;
            &:hover{
              background: $verde;
            }
            .icono{
              width: 100%;
              padding: 32px;
              height: 120px;
              /*border-radius: 50%;*/
              overflow: hidden;
              margin: auto;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            h3{
              color: $moradoC;
              font-family: $helveticaBold;
              text-transform: uppercase;
              margin-top: 15px;
              font-size: 0.875rem;
              line-height: 1rem;
              margin-bottom: 0;
            }
          }
        }
      }
      label{
        font-family: $helveticaBold;
        font-size: 0.938rem;
        line-height: 1.75rem;
        color: $moradoC;
      }
      input{
        border:1px solid $verde;
        box-sizing: border-box;
        border-radius: 6px;
        height: 55px;
      }
      .check{
        display: inline-block;
        margin-bottom:10px;
        &:last-child{
          padding-right: 0;
        }
        .botton{
          margin-top: 0;
        }
        input[type=checkbox].css-checkbox{
          display: none;
        }
        input[type=checkbox].css-checkbox + label.css-label {
          height: 19px;
          display: inline-block;
          line-height: 1.25rem;
          font-size: 0.738rem;
          font-family: $helveticaBold;
          color: $gris;
          padding-left: 27px;
          vertical-align: middle;
          margin-bottom: 10px;
          cursor: pointer;
          -webkit-transition: background 300ms ease-in-out, color 300ms ease-in-out;
          -o-transition: background 300ms ease-in-out, color 300ms ease-in-out;
          transition: background 300ms ease-in-out, color 300ms ease-in-out;
        }
        input[type=checkbox].css-checkbox + label.css-label {
         background-image: url("../img/iconos/checked-desactivado.png");
         background-repeat: no-repeat;
         background-position: 0 0;
         // &:hover {
         //   background-image: url("../img/iconos/checked-activo.png");
         //   background-repeat: no-repeat;
         // }
       }
       input[type=checkbox].css-checkbox:checked + label.css-label {
          background-image: url("../img/iconos/checked-activo.png");
          background-repeat: no-repeat;
          // color: #000;
       }
       label.css-label {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
      }
    }
  }
}
.slider1{
  padding: 0;
}
.porcentaje{
    width: 12.2rem;
    height:12.2rem;
    background: $moradoC;
    border-radius: 50%;
    position: absolute;
    z-index: 12;
    right: 1rem;
    top: 1rem;
  }
  .circular-progress-bar {
      position: relative;
      margin: 0 auto;
      top: -7px;
      left: -5px;
  }
  .progress-percentage, .progress-text {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 0px 37px;
      color: $verde;
      font-family: $helveticaBold;
  }
  .progress-percentage {
       font-size: 55px;
      transform: translate(-50%, -85%);
  }
  .progress-text {
      transform: translate(-50%, 0%);
      color: $blanco;
      font-size: 15px;
      line-height: 22px;
      width: 88%;
  }
@function deg-value($percent){
  $deg: (-90+$percent*3.6);
  @return #{$deg}deg;
}

@mixin circulo-porcentaje($porcentaje,$color:blue) {
  $color2:$morado;
  display:inline-block;
  width:9rem;
  height:9rem;
  border-radius:50%;
  @if $porcentaje > 50 {
    background-image:
    linear-gradient(-90deg,$color 50%,transparent 50%,transparent),
    linear-gradient(deg-value($porcentaje),$color2 50%,$color 50%,$color);
  } @else{
    background-image:
    linear-gradient(90deg,$color2 50%,transparent 50%,transparent),
    linear-gradient(deg-value($porcentaje),$color2 50%,$color 50%,$color);
  }
  position:relative;
  h3{
    position: absolute;
    z-index: 1;
    color: $blanco;
    font-size: 13px;
    bottom: 2.5rem;
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
  &:before{
    content:"";
    font-size:55px;
    position:absolute;
    text-align:center;
    line-height:5em;
    background:$moradoC;
    color:$blanco;
    width: 130px;
    height: 130px;
    border-radius:50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  &:after{
    font-size:42px;
    content:"#{$porcentaje}%";
    position:absolute;
    top:38%;
    color: $verde;
    font-family: $helveticaBold;
    left:50%;
    transform: translate(-50%,-50%);
  }
}
.c-10{
  @include circulo-porcentaje(60,$verde);
}

.gracias{
  background-image: url('../img/slider/2.jpg');
  height: 100vh;
  width: 100%;
  text-align: center;
  background-position: center;
  background-size: cover;
  position: relative;
  .marcoAgua{
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    h2{
      opacity: 0;
      margin: 0;
      font-family: $helveticaBlack;
      text-transform: uppercase;
      color: $verde;
      font-size: 2rem;
    }
  }
  img{
    width: 170px;
  }
  h1{
    font-size:2rem;
    color: $blanco;
    line-height: 50px;
    margin: 40px 0px 30px;
    font-family: $helveticaBold;
    text-transform: uppercase;
  }
  p{
    width: 70%;
    margin: auto;
    font-size: 1rem;
    font-family: $helveticaBold;
    color: $blanco;
    margin-bottom: 40px;
  }
}


.fancybox{
  &-bg{
    background: rgba(24, 12, 48, 0.91) !important;
    opacity: 1 !important;
  }
  &-button{
    svg{
      path{
        fill:$verde !important;
      }
    }
  }
}



.modal{
  background: rgba(24, 12, 48, 0.91);
  &__descrip{
    &__tabs{
      margin-left:0;
      position: relative;
      ul{
        border-bottom: 1px solid transparent;
        position: absolute;
        top: -47px;
        li{
          background: $moradoC;
          text-align: center;
          position: relative;
          &:before{
            content: "";
            position: absolute;
            width: 2px;
            background: $verde;
            height: 40%;
            margin: auto;
            top:0;
            bottom: 0;
            right: 0;
          }
          &:first-child{
            border-top-left-radius:15px;
            a{
              border-top-left-radius:14px;
            }
          }
          &:last-child{
            border-top-right-radius:15px;
            &:before{
              background: transparent;
            }
            a{
              border-top-right-radius:14px;
            }
          }
          a{
            font-family: $helveticaBold;
            color: $blanco;
            padding: 16px 14px;
            text-transform: uppercase;
            font-size: 11px;
            line-height: 16px;
            min-width: 73px;
            display: block;
            position: relative;
            text-decoration: none;
            &.primero{
              &.active{
                &:before{
                  background: transparent;
                }
              }
            }
            &:before{
              content: "";
              width: 3px;
              background: transparent;
              height: 100%;
              left: -3px;
              top: 0;
              position: absolute;
            }
            &.active{
              color: $moradoC;
              background: $verde;
              &:before{
                background: $verde;
              }
            }
          }

        }
      }
      &__content{
        background: $blanco;
        .tab-pane{
          height: 350px;
          width: 100%;
        }
        iframe{
          width: 100%;
          height:100%;
        }
      }
    }
  }
  &__video{
    .modal-body{
      height: 210px;
      iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
  &-body{
    position: relative;
    padding: 0;
    .close{
      position: absolute;
      right: 15px;
      top: 15px;
      opacity: 1;
      z-index: 123;
      img{
        width: 40px;
      }
    }
  }
  &__modelo{
    &__body{
      padding: 0;
      .owl-modelo__{
          .item{              
            width: 90%;
            margin: auto;
            height: 650px;
            justify-content: center;
            display: flex;
            align-items: center;
          }
        .owl-nav{
          display: none;
        }
        .owl-dots{
          text-align: center;
          margin:30px 0px 50px 0px;
          button{
            width: 40px;
            border:2px solid $verde;
            height: 40px;
            border-radius: 50%;
            margin:0px 5px !important;
            &.active{
              background: $verde !important;
            }            
            span{
              position: relative;
              color: $moradoC;
              font-size: 16px;
              line-height: 19px;
              font-family: $helveticaBold;
              &:before{
                counter-increment: my-sec-counter;
                content: "0" counter(my-sec-counter);
              }
            }
          }
        }
      }
      &__texto{
        background-image: url('../img/bg/bg-morado.jpg');
        text-align: center;
        padding: 40px 70px;
        height: 100%;
        position: relative;
        &__in{
          width: 100%;
        }
        .dropdown{
          &-menu{
            width: 100%;
            z-index: 1 !important;
            border-radius: 0;
            padding: 0;
          }
          &-toggle{
            background:transparent;
            width: 100%;
            border-radius: 10px;
            border: 1px solid $verde;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            font-size: 14px;
            line-height: 16px;
            text-align: left;
            color: $verde;
            font-family: $helveticaBold;
            text-transform: uppercase;
            position: relative;
            &:focus{
              background: $verde;
              color: $blanco;
              outline: none;
            }
            &:before {
                content:"";
                width: 54px;
                height: 57px;
                background:$verde;
                position: absolute;
                right: 0;
                top: 0;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            &:after{
                position: absolute;
                top: 0;
                margin: auto;
                width: 16px;
                height: 12px;
                bottom: 0;
                right: 16px;
                background-image: url('../img/iconos/flecha.png');
                color: transparent;
                background-size:cover;
                background-position:center;
                background-repeat: no-repeat;
            }
          }
          &-item{
            padding: 11px 1.5rem;
            font-size: 17px;
            font-family: $helveticaBold;
            text-transform: uppercase;
            &:hover{
              background: $verde;
              color: $blanco;
            }
          }
        }
        h3{
          color: $verde;
          float: left;
          position: absolute;
          right: 0;
          opacity: 0.1;
          text-transform: uppercase;
          font-family: $helveticaBlack;
          font-size: 70px;
          line-height: 115px;
          -webkit-transform: rotate(-90deg);
        }
        h2{
          text-transform: uppercase;
          font-size: 3.438rem;
          line-height: 4.375rem;
          color: $blanco;
          font-family: $helveticaBold;
          margin-bottom: 18px;
        }
        .buttom{
          min-width: 100%;
          padding: 18px 0px;
        }
        span{
          color: $blanco;
          font-family: $helveticaBold;
          font-size: 0.938rem;
          line-height: 1.75rem;
        }
        table{
          width: 100%;
          color: $blanco;
          margin-bottom: 50px;
          tbody{
            tr{
              td{
                padding: 13px 0px;
                font-family: $helveticaBold;
                text-align: left;
                font-size: 15px;
                line-height: 28px;
                img{
                  margin-right: 17px;
                }
                &.numero{
                  color: $verde;
                  text-align: right;
                  font-size: 20px;
                  line-height: 28px;
                }
              }
            }
          }
        }
      }
    }
  }
  &__mapa{
    .modal-body{
      iframe{
        width: 100%;
        height: 500px;
      }
    }
  }
  &__texto{
    .modal-dialog {
        max-width: 824px !important;
    }
    .modal-content{
      border-radius: 0;
      .modal-body{
        padding: 50px;
        h2{
          color: $moradoC;
          margin-bottom: 25px;
        }
        p{
          color: $gris;
        }
      }
    }
  }
}

#mouse-scroll {
  position: absolute;
  bottom:0;
  margin: auto;
  left: 13%;
  -webkit-transform: translateX(-50%);
  z-index: 1;
  padding-bottom: 25px;
  span{
    color: $blanco;
    text-transform: uppercase;
    font-family: $helveticaBold;
    font-size:0.675rem;
    display: block;
    margin-top: 10px;
    line-height: 1rem;
  }
  .raya{
    position: absolute;
    bottom: 0;
    width: 2px;
    background: $verde;
    height: 20px;
    margin: auto;
    left: 0;
    right: 0;
  }
}
#mouse-scroll .mouse {
  height: 29.82px;
  width: 21px;
  border-radius: 16px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid $verde;
  top: 170px;
  margin: auto;
}

#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: $verde;
  position: relative;
}
#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}
@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

 @media (min-width: 576px){
   .modal-dialog {
       max-width: 524px;
   }
 }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .asesorateM{
        .buttom__rellenoV{
            margin-bottom: 50px;
        }
      &__formulario{
        .cerrar{
          top:9px;
        }
      }
    }
  #mouse-scroll{
    padding-bottom: 50px;
    span{
        font-size:0.875rem;
    }
    .raya{
        height: 35px;
    }
  }
  .modal-dialog {
      max-width: 700px;
  }
  .gracias{
    .marcoAgua{
      h2{
        font-size: 9em;
        opacity: 0.1;
      }
    }
    img{
      width: 200px;
    }

    p{
      font-size: 1.25rem;
      margin-bottom: 60px;
      width: 80%;
    }
  }
  .modal{
    &__descrip{
      &__tabs{
        ul{
          top: -56px;
          li{
            a{
              padding: 20px;
              font-size: 13px;
              min-width: 150px;
            }
          }
        }
        &__content{
          .tab-pane{
            height: 500px;
          }
        }
      }
    }
    &__video{
      .modal-body{
        height: 358px;
      }
    }
    &__mapa{
      .modal-body{
        iframe{
          height: 800px;
        }
      }
    }
  }
  .carousel{
    &-texto{
      .direccion{
        img{
          top: 9px;
          width: auto;
        }
      }
      p{
        font-size: 1rem;
        line-height: 1.75rem;
      }
    }
    &-img{
      height: 51%;
      width: 41%;
      &--centrado{
        img{
          margin-top: 0;
          width: auto !important;
        }
      }
      img{
        width: auto;
      }
    }
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .asesorateM{
    .form-group {
        margin-bottom: 0.6rem;
    }
      &__formulario{
          form{
            .dropdown-toggle{
                padding: 16px;
                &:before{
                    height: 49px;
                }
            }
              input{
                  height: 42px;
              }
          }
      }
    &__bg{
      height: 100vh;
      background-size: cover;
      img{
        width: auto;
      }
      h1{
        font-size: 56px;
        line-height: 96px;
        margin-top: 21px;
        margin-bottom: 6px;
      }
      p{
        font-size: 15px;
        line-height: 24px;
        width: 70%;
      }

    }
    &__formulario{
      padding: 30px 0px;
      .cerrar{
        top: 17px;
        img{
          width: auto;
        }
      }
      form{
        width: 72%;
        margin: inherit;
        .check{
          input[type=checkbox].css-checkbox + label.css-label{
            font-size: 0.938rem;
          }
        }
      }
    }
  }
  .carousel{
    &-indicators{
      display: block !important;
    }
    &-texto{
      width: 46%;
      left: 7%;
      top:0;
      height: 100%;
      bottom: 0;
      h2{
        font-size: 3rem;
        line-height: 4rem;
        margin-top: 24px;
        margin-bottom: 24px;
      }

      .p-2{
        width: 373px;
      }
      .direccion{
        width: 342px;
      }
    }
    &-item{
      .img{
        height: 90.5vh;
      }
      .fondoTexto{
        h2{
          font-size: 20.625rem;
        }
      }
    }
    &-img{
      height: 100%;
      right: 2rem;
      width: 50%;
      left: auto;
      &--centrado{
        align-items: center;
      }
    }
  }
  .modal{
    &__descrip{
      &__tabs{
        &__content{
          .tab-pane{
            // height: 600px;
          }
        }
      }
    }
    &__video{
      .modal-body{
        height: 534px;
      }
    }
    &-body{
      .close{
        right: -31px;
        top: -31px;
        img{
          width: auto;
        }
      }
    }
    &__modelo{
        &__body{
            &__texto{
                padding:40px 52px;
            }
        }
        .owl-modelo__{
            margin-top: 80px;
        }
    }
  }
  .porcentaje{
    width: 12.2rem;
    height: 12.2rem;
    right: 0;
    top: 0;
  }
  .c-10{
    width:11.3rem;
    height:11.3rem;
    h3{
      font-size: 15px;
    }
    &:before{
      width:170px;
      height:170px
    }
    &:after{
      font-size:55px;
    }
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .gracias{
    .marcoAgua{
      h2{
        font-size: 15rem;
      }
    }
    h1{
      font-size: 3rem;
    }
  }
  .modal-dialog {
      max-width: 1065px;
  }
  .carousel{
    &-texto{
      width: 34%;
      left: 10%;
      top:0;
      height: 100%;
      h2{
        font-size: 3rem;
        line-height:3.59rem;
        margin-top: 26px;
        margin-bottom:26px;
      }
      p{
        font-size: 1.25rem;
      }
      .p-2{
        width: 373px;
      }
      .direccion{
        width: 342px;
      }
    }
    &-item{
      .img{
        height: 90.5vh;
      }
      .fondoTexto{
        h2{
          font-size:14.625rem;
        }
      }
    }
    &-img{
      width: 37%;
      right: 5rem;
    }
  }
  .asesorateM{
    &__formulario{
      .form{
        .seleccionar{
          &__bottom{
            max-height: 433px;
            &.open{
              height: 433px;
            }
            &__card{
            }
          }
        }
      }
    }
  }
 }
@media(min-width: 1350px){
  .modal-dialog {
      max-width: 827px;
  }
  .porcentaje{
    right: -18px;
  }
  .modal{
    &__descrip{
      &__tabs{
        &__content{
          .tab-pane{
            height: 480px;
          }
        }
      }
    }
    &__modelo{
        .modal-dialog {
            max-width: 1104px !important;
        }
        .owl-modelo__{
            margin-top: 50px;
        }
    }
  }
  .gracias{
    .marcoAgua{
      h2{
        font-size: 16rem;
      }
    }
    img{
      width: 230px;
    }
    h1{
      font-size: 3.438rem;
      line-height: 70px;
    }
    p{
      font-size: 1.25rem;
      margin-bottom: 60px;
      width: 100%;
    }
  }

}
@media (min-width: 1600px) {

    .asesorateM{
        .form-group {
            margin-bottom: 1rem;
        }
        &__formulario{
            padding:0;
            max-height: none;
            overflow: inherit;
            .cerrar{
                top: 0px;
            }
            form{
                .dropdown-toggle{
                    padding: 20px;
                    &:before {
                        height: 57px;
                    }
                }
                input{
                    height: 55px;
                }
            }
        }
        &__bg{
            h1{
            font-size: 80px;
            line-height: 105px;
            margin-top: 45px;
            margin-bottom: 20px;
            }
            p{
            font-size: 20px;
            line-height: 28px;
            width: 60%;
            }
        }
    }

    .porcentaje{
        right: 12px;
    }
  .gracias{
    .marcoAgua{
      h2{
        font-size: 18rem;
      }
    }
    img{
      width: auto;
    }
  }
  .modal-dialog {
      max-width: 1466px;
  }
  .modal{
    &__descrip{
      &__tabs{
        ul{
          li{
            a{
              font-size: 14px;
              min-width: 211px;
            }
          }
        }
        &__content{
          .tab-pane{
            height: 770px;
          }
        }
      }
    }
    &__video{
      .modal-body{
        height: 758px;
      }
    }
    &__modelo {
        &__body{
            &__texto{
                padding:22px 70px;
            }
        }
        .modal-dialog {
            max-width: 1466px !important;
        }
    }
  }
  .carousel{
    &-texto{
      width: 38%;
      .logo{
        width: auto;
      }
      h2{
        font-size: 4rem;
        line-height:5.563rem;
        margin-top: 34px;
        margin-bottom: 34px;
      }
      p{
        font-size: 1.25rem;
      }
      .p-2{
        width: 373px;
      }
      .direccion{
        width: 342px;
      }
    }
    &-item{
      .img{
        height: 90.5vh;
      }
      .fondoTexto{
        h2{
          font-size: 20.625rem;
        }
      }
    }
    &-img{
      width: 50%;
    }
  }
 }

 @media (min-width: 1700px) {
    .porcentaje{
        right: 0;
    }
    .carousel{
        h2{
            font-size: 5rem;
            line-height: 6.563rem;
        }
    }
}
